/* Imgage Resizing */

.ResImgMiddle {
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.OffImgMiddle {
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.HotImgMiddle {
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.HomeImgMiddle {
    width: 25%;
    height: auto;
    border-radius: 10px;
}

.HotImgRight {
    width: 50;
    height: 200px;
}
 /* Main Elements */ 

.header {
    background-color: rgba(51, 5, 33, 0.959);
}


.footer {
    background-color: rgba(51, 5, 33, 0.959);
}

.navbar {
    background-color: rgba(51, 5, 33, 0.959);
}

 /* Texts */ 

.ResText,
.OffText,
.HotText,
.HomeText {
    color: rgba(112, 74, 3, 0.986);
    font-size: 20px;
}




    